S3method(plot,altmetric)
S3method(print,altmetric)
export(altmetric_data)
export(altmetrics)
export(return_provider)
import(ggplot2)
importFrom(RCurl,getCurlHandle)
importFrom(RCurl,getURL)
importFrom(RCurl,getURLContent)
importFrom(RJSONIO,fromJSON)
importFrom(plyr,compact)
importFrom(plyr,rbind.fill)
importFrom(plyr,unrowname)
importFrom(png,readPNG)
importFrom(reshape2,melt)
